{% extends 'admin/master.html' %}
{% block body %}
  <h1>Edit Content: {{ name }}</h1>
  <form method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ name }}" readonly>
    </div>
    <div class="form-group">
      <label for="context">Context</label>
      <input type="text" class="form-control" id="context" name="context" value="{{ context }}" readonly>
    </div>
    <div class="form-group">
      <label for="value">Text</label>
      <textarea class="form-control" id="value" name="value" rows="5">{{ value }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ url_for('.index') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}